<%- include ("partials/header") -%>
<div class="align-login-image">
    <a href="/register-login"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
      </svg></a>
      <br>
    <p>register/login</p>
</div>
<div class="timeOptions">
    <a href="/options/15" id="15">15s</a>
    <a href="/options/30" id="30">30s</a>
    <a href="/options/60" id="60">60s</a>
    <a href="/options/120" id="120">120s</a>
</div>
<h3 id="timer">start typing to start the timer</h3>
<p id="initialTime" style="display: none;"><%= initialTime %></p>
<div class="container">
<div class="timer">
</div>
<p style="display: none;" class="noOfWords"><%= noOfWords %></p>
<p class="typingContent"><%= typingContent %></p>
</div>
<div class="restart-center">
    <form action="/restart" method="post">
        <button name="restart" class="restart">restart</button>
    </form>
    <button name="retry" class="restart" style="margin-left: 20px;">retry</button>
</div>

<%- include ("partials/footer") -%>